openapi: 3.2.0
info:
  title: Typesense Cloud Management Server Configuration Parameters API
  description: The Typesense Cloud Management API provides endpoints for provisioning and managing Typesense Cloud clusters programmatically. It supports creating, updating, and deleting clusters, managing cluster configuration parameters, generating API keys, and applying configuration changes. This API enables infrastructure automation for teams running Typesense on the managed cloud platform, with authentication handled through cloud management API keys.
  version: '1'
  contact:
    name: Typesense Support
    url: https://typesense.org/support
  termsOfService: https://typesense.org/terms
servers:
- url: https://cloud.typesense.org/api/v1
  description: Typesense Cloud API
security:
- cloudApiKey: []
tags:
- name: Server Configuration Parameters
  description: Manage Typesense Server configuration parameters for cloud clusters.
paths:
  /clusters/{clusterId}/typesense-server-configuration-parameters:
    parameters:
    - $ref: '#/components/parameters/clusterId'
    get:
      operationId: getServerConfigurationParameters
      summary: Get Server Configuration Parameters
      description: Retrieves the current Typesense Server configuration parameters for a cloud cluster. Changes to parameters take effect when the server is restarted.
      tags:
      - Server Configuration Parameters
      responses:
        '200':
          description: Server configuration parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerConfigurationParameters'
        '401':
          description: Unauthorized
        '404':
          description: Cluster not found
    patch:
      operationId: updateServerConfigurationParameters
      summary: Update Server Configuration Parameters
      description: Updates Typesense Server configuration parameters for a cloud cluster. The server must be restarted for changes to take effect. Use the configuration changes endpoint to schedule a restart.
      tags:
      - Server Configuration Parameters
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerConfigurationParameters'
      responses:
        '200':
          description: Parameters updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerConfigurationParameters'
        '400':
          description: Bad request - invalid parameter values
        '401':
          description: Unauthorized
        '404':
          description: Cluster not found
components:
  parameters:
    clusterId:
      name: clusterId
      in: path
      required: true
      description: Unique identifier of the cluster.
      schema:
        type: string
  schemas:
    ServerConfigurationParameters:
      type: object
      description: Typesense Server runtime configuration parameters. Changes take effect after a server restart.
      additionalProperties: true
      properties:
        cache-num-entries:
          type: integer
          description: Number of entries in the LRU cache.
        thread-pool-size:
          type: integer
          description: Size of the thread pool for handling requests.
        log-slow-requests-time-ms:
          type: integer
          description: Threshold in milliseconds for logging slow requests.
  securitySchemes:
    cloudApiKey:
      type: apiKey
      in: header
      name: X-TYPESENSE-CLOUD-MANAGEMENT-API-KEY
      description: Cloud management API key for authenticating requests to the Typesense Cloud Management API.
externalDocs:
  description: Typesense Cloud Management API Documentation
  url: https://typesense.org/docs/cloud-management-api/v1/cluster-management.html
